@model UsingGoogleMaps2.Models.DealDetails

@{
    ViewBag.Title = "Details";
}

<style>
    .imageClass {
        max-width: 100px;
        max-height: 100px;
</style>
@section scripts {
    <section class="scripts">

        <script type="text/javascript">

            $(document).ready(function () {
                initialize();
            });
            var initialize= function() {
              
                
                var dealDetails = @Html.Raw(Json.Encode(Model));
                
                var image=dealDetails.DealImage;
                var stringImage=dealDetails.StringImage;
           
                console.log(dealDetails);
                console.log(image);
                //var image2='data:image/jpeg;base64,' + btoa('your-binary-data');
                if(image!==null)
                {
                    
                    var img = document.createElement("img");
                   
                    console.log(dealDetails);
                    //src="data:image/gif;base64,<Binary Data Here>"
                    //img.src = 'data:image/gif;base64,' + btoa(image);
                    img.src =stringImage;
                    var src = document.getElementById("image");
                   
                    src.appendChild(img);
                }
            };
        </script>

    </section>
}
<h2>Details</h2>

<fieldset>
    <legend>DealDetails</legend>
    <div class="imageClass" id="image" style="max-width: 100px; max-height: 100px"></div>
    
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.PubName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PubName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PubAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PubAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublicationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublicationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

</fieldset>
