@model UsingGoogleMaps2.Models.SearchPreferences

@{
    ViewBag.Title = "SearchDeal";
}

<h2>Search</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SearchPreferences</legend>

        <div class="editor-label">
             @Html.DisplayName("Area")
            @*@Html.LabelFor(model => model.Area)*@
        </div>
        <div>

            @Html.DropDownList("Area")
        </div>
        <br />
        <div class="editor-label">
             @Html.DisplayName("Max Price")
            @*@Html.LabelFor(model => model.PriceMax)*@
        </div>
        <div>

            @Html.DropDownList("PriceMax")
        </div>
        <br />
        <div class="editor-label">
             @Html.DisplayName("Property Type")
            @*@Html.LabelFor(model => model.PropertyType)*@
        </div>
        <div>

            @Html.DropDownList("PropertyType")
        </div>
        <br />
        <div class="editor-label">
             @Html.DisplayName("Max Distance")
            @*@Html.LabelFor(model => model.MaxDistance)*@
        </div>
        <div>

            @Html.DropDownList("MaxDistance")
        </div>
       
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
